In [6]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sbn

In [60]:
df = pd.read_csv("diseases.csv")
df.head()

,dma,geoCode,2004+cancer,2004+cardiovascular,2004+stroke,2004+depression,2004+rehab,2004+vaccine,2004+diarrhea,2004+obesity,...,2016+diabetes,2017+cancer,2017+cardiovascular,2017+stroke,2017+depression,2017+rehab,2017+vaccine,2017+diarrhea,2017+obesity,2017+diabetes
0,Portland-Auburn ME,500,44,6,17,39,21,31,14,29,...,81,70,37,83,64,56,76,66,47,80
1,New York NY,501,47,6,13,38,16,33,12,27,...,77,70,34,53,56,53,79,56,52,78
2,Binghamton NY,502,48,3,16,50,12,37,24,31,...,74,68,24,71,69,44,77,78,61,72
3,Macon GA,503,44,14,14,37,19,49,14,29,...,78,53,38,62,46,60,47,53,41,66
4,Philadelphia PA,504,52,7,16,41,23,36,14,30,...,80,75,35,61,62,75,84,69,56,78

In [61]:
df.describe()

,geoCode,2004+cancer,2004+cardiovascular,2004+stroke,2004+depression,2004+rehab,2004+vaccine,2004+diarrhea,2004+obesity,2004+diabetes,...,2016+diabetes,2017+cancer,2017+cardiovascular,2017+stroke,2017+depression,2017+rehab,2017+vaccine,2017+diarrhea,2017+obesity,2017+diabetes
count,210.000000,210.000000,210.000000,210.000000,210.00000,210.000000,210.000000,210.000000,210.000000,210.000000,...,210.000000,210.000000,210.000000,210.000000,210.000000,210.000000,210.000000,210.000000,210.000000,210.000000
mean,641.104762,43.904762,7.433333,17.642857,45.62381,18.890476,32.476190,16.280952,34.261905,38.042857,...,77.823810,64.709524,35.923810,70.838095,62.828571,52.928571,72.800000,72.723810,51.761905,77.309524
std,100.375079,7.618944,7.909647,8.135284,13.71572,10.157723,14.768773,11.449582,16.136765,10.017357,...,8.494434,6.436023,12.521136,10.800606,8.539755,14.795242,10.983154,10.453813,13.846751,8.935409
min,500.000000,27.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,47.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,552.250000,40.000000,5.000000,14.000000,37.00000,15.000000,25.000000,12.000000,26.000000,33.000000,...,74.000000,60.250000,29.000000,64.000000,59.000000,43.000000,67.000000,67.000000,45.250000,73.000000
50%,627.500000,43.000000,6.000000,16.000000,44.00000,17.000000,31.000000,14.000000,32.000000,37.000000,...,78.000000,65.000000,34.000000,71.000000,63.000000,51.000000,73.000000,72.000000,51.000000,78.000000
75%,723.500000,47.000000,9.000000,18.000000,51.00000,21.000000,38.000000,17.750000,41.000000,42.000000,...,81.750000,68.000000,41.000000,77.000000,67.000000,61.000000,79.000000,78.000000,58.000000,81.000000
max,881.000000,100.000000,100.000000,100.000000,100.00000,100.000000,100.000000,100.000000,100.000000,100.000000,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000

In [62]:
df = df.drop(['geoCode'], axis=1)

### Which city makes the most searches regarding diseases?

In [64]:
col = df.sum(axis=1, numeric_only=True)

In [65]:
df2 = pd.DataFrame({'Total Searches': col})

In [67]:
df = df.join(df2)

In [68]:
df.head()

,dma,2004+cancer,2004+cardiovascular,2004+stroke,2004+depression,2004+rehab,2004+vaccine,2004+diarrhea,2004+obesity,2004+diabetes,...,2017+cancer,2017+cardiovascular,2017+stroke,2017+depression,2017+rehab,2017+vaccine,2017+diarrhea,2017+obesity,2017+diabetes,Total Searches
0,Portland-Auburn ME,44,6,17,39,21,31,14,29,38,...,70,37,83,64,56,76,66,47,80,6361
1,New York NY,47,6,13,38,16,33,12,27,32,...,70,34,53,56,53,79,56,52,78,5409
2,Binghamton NY,48,3,16,50,12,37,24,31,37,...,68,24,71,69,44,77,78,61,72,6189
3,Macon GA,44,14,14,37,19,49,14,29,31,...,53,38,62,46,60,47,53,41,66,6213
4,Philadelphia PA,52,7,16,41,23,36,14,30,37,...,75,35,61,62,75,84,69,56,78,6444

In [103]:
df.iloc[df['Total Searches'].idxmax()][0]

'Rochester MN-Mason City IA-Austin MN'

### Conversely, which city had the fewest searches regarding diseases?

In [73]:
df.iloc[df['Total Searches'].idxmin()][0]

'Glendive MT'

### Which year were the most searches done?

In [100]:
year_to_disease = dict()
temp = 0

for col in list(df):
    if '20' in col:
        year = col[0:4]
        if year not in year_to_disease.keys(): 
            year_to_disease[year] = df[col].sum()
        elif year in year_to_disease.keys():
            year_to_disease[year] += df[col].sum()
            
max(year_to_disease, key=year_to_disease.get)

'2017'

### Which disease is searched the most?

In [99]:
disease_to_search = dict()
temp = 0

for col in list(df):
    if len(col) > 3 and 'Total' not in col:
        disease = col[5:]
        if disease not in disease_to_search.keys():
            disease_to_search[disease] = df[col].sum()
        elif disease in disease_to_search.keys():
            disease_to_search[disease] += df[col].sum()
            
max(disease_to_search, key=disease_to_search.get)

'cancer'

### Conversely, which disease is searched the least?

In [101]:
min(disease_to_search, key=disease_to_search.get)

'cardiovascular'